# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
BilibiliVideoDownload-master/src/views/HomeView.vue
BilibiliVideoDownload-master/src/views/DownloadView.vue
BilibiliVideoDownload-master/src/utils/sleep.ts
BilibiliVideoDownload-master/src/utils/index.ts
BilibiliVideoDownload-master/src/utils/handleOldVerSetting.ts
BilibiliVideoDownload-master/src/utils/formatSeconed.ts
BilibiliVideoDownload-master/src/utils/filterTitle.ts
BilibiliVideoDownload-master/src/typing.d.ts
BilibiliVideoDownload-master/src/type/index.ts
BilibiliVideoDownload-master/src/store/task.ts
BilibiliVideoDownload-master/src/store/setting.ts
BilibiliVideoDownload-master/src/store/index.ts
BilibiliVideoDownload-master/src/store/base.ts
BilibiliVideoDownload-master/src/shims-vue.d.ts
BilibiliVideoDownload-master/src/router/index.ts
BilibiliVideoDownload-master/src/preload.js
BilibiliVideoDownload-master/src/main.ts
BilibiliVideoDownload-master/src/core/subtitle.ts
BilibiliVideoDownload-master/src/core/media.ts
BilibiliVideoDownload-master/src/core/download.ts
BilibiliVideoDownload-master/src/core/danmaku/xml-utils.ts
BilibiliVideoDownload-master/src/core/danmaku/xml-danmaku.ts
BilibiliVideoDownload-master/src/core/danmaku/utils/sort.ts
BilibiliVideoDownload-master/src/core/danmaku/utils/fixed.ts
BilibiliVideoDownload-master/src/core/danmaku/index.ts
